body{
    padding-top: 100px;
    background-color: antiquewhite;
}
h1{
    text-align: center;
}
.menu-hamburguer{
    background-color: white !important;
}
.menu-topo, .logo{
    color: white;
}
.menu-topo:hover, .logo:hover{
    color: rgb(31, 31, 31);
    cursor: pointer !important;
    
}
.titulo-formulario{
    text-align: center;
    padding-top: 15px;
}
